<div id="stockMain">
<h3> Enter Stock Code  :  </h3>
     <input type="text" ng-model="stock1" placeholder="URBN" />
    <button class="btn btn-info btn-md" ng-click= "mySubmit()">Get Data</button>
     
            <h3 ng-show="data.query.results.quote">{{data.query.results.quote.symbol | uppercase}} -
           {{data.query.created | date:'yyyy-MM-dd'}} -
                {{data.query.results.quote.Name}} </h3>
           <br>
<table ng-cloak id="table1" class="table table-hover">   
        <tbody>
            <tr ng-show="data.query.results.quote">
                <th >Previous Close: 
               <span style="display:inline-block; "></span> {{data.query.results.quote.PreviousClose}}</th> </tr>
             <tr ng-show="data.query.results.quote">
                 <th >Open: 
              <span style="display:inline-block;"></span>   
                     {{data.query.results.quote.Open}}</th> </tr>
            <tr ng-show="data.query.results.quote">
                <th >Bid: 
                      <span style="display:inline-block; "></span>  
                    {{data.query.results.quote.Bid}}</th> </tr>
             <tr ng-show="data.query.results.quote">
                 <th >Ask:   <span style="display:inline-block;"></span>  
                     {{data.query.results.quote.Ask}}</th> </tr>
              <tr ng-show="data.query.results.quote">
                <th >One Year Target Price :   <span style="display:inline-block; "></span>  
                    {{data.query.results.quote.OneyrTargetPrice}}</th> </tr>
             <tr ng-show="data.query.results.quote">
                 <th >Year Low:   
                     <span style="display:inline-block; "></span>  
                     {{data.query.results.quote.YearLow}}</th> </tr>
            <tr ng-show="data.query.results.quote">
                 <th >Year High:   
                     <span style="display:inline-block; "></span>{{data.query.results.quote.YearHigh}}</th> </tr>
            
            
    
    </table>        
        </div>