
$font-stack: Volkorn, serif;
$primary-color : #000;


body{
    background-color: whitesmoke;
    font : 100% $font-stack;
    color: $primary-color;
    font-size: 20px;
}

#searchTag{
  
    align-content: center;
    text-align: center;
}

#outputImages {
    
    @extend #searchTag;
    border-radius: 20px;
    border:2px solid blue;
    margin: auto;
    width: 70%;
    padding: 10px;
    background-color:aliceblue;
}
button{
    display: block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 20px auto;
	color: #ccc;
	background-color: #555;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	border-radius: 3px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
    
}
#yelpMain{
 @extend #outputImages;
}
#stockMain{
  @extend #outputImages;   
}